* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  background-color: cornflowerblue;
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-bottom: 1000px;` */
}

.parallax-container {
  background-color: indianred;
  height: 500vh;
  width: 100vw;
  position: relative;
  perspective: 2px;
}

/* div.two { */
  /* background-color: cornflowerblue; */
/* } */

.layer {
  background-color: white;
  position: absolute;
  height: 200px;
  width: 400px;
  /* left: 50%; */
  /* top: 50%; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.top {
  top: 0;
}
.middle {
  top: 400px;
}
.bottom {
  top: 800px;
}

.foreground {
  transform: translateX(-50%) translateY(-50%) translateZ(-.5px);
  z-index: 2;
}

.midground {
  transform: translateX(-50%) translateY(-50%) translateZ(-1px);
  background-color: #222;
  color: white;
  z-index: 1;
}

.background {
  transform: translateX(-50%) translateY(-50%) translateZ(-1.5px);
  z-index: 0;
}